@import url('https://fonts.googleapis.com/css2?family=Manrope');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --LightCyan: hsl(193, 38%, 86%);
    --NeonGreen: hsl(150, 100%, 66%);
    --GrayishBlue: hsl(217, 19%, 38%);
    --DarkGrayishBlue: hsl(217, 19%, 24%);
    --DarkBlue: hsl(218, 23%, 16%);

}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    background-color: var(--DarkBlue);
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.main-container {
    background-color: var(--DarkGrayishBlue);
    padding: 1.5rem;
    border-radius: 0.625rem;
    max-width: 450px;
    text-align: center;
}

.main-container h1 {
    color: var(--NeonGreen);
    font-size: 12px;
    letter-spacing: .2rem;
    margin: 2rem 0 1rem;
    text-transform: uppercase;
}

.main-container p {
    color: var(--LightCyan);
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 1rem;
    font-weight: 700;
}

.main-container img button {
    display: block;
    margin: 0 auto 2rem;
}

#imgone {
    width: 100%;
    margin-top: 30px;
}

.fetch-button {
    position: relative;
    top: 50px;
    left: 5px;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--NeonGreen);
    border: none;
    cursor: pointer;
    transition: .5s;
}

button:hover {
    box-shadow: 0px 0px 35px 0px hsl(150, 100%, 66%);
}

#imgtwo {
    display: block;
    margin: auto;
    width: 40%;

}





/* @media (width < 600px) {
    #imgtwo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
} */